<!-- component -->
<!DOCTYPE html>
<html x-data="data()" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <!-- Favicon -->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet" />
</head>

<body>
    <div class="flex h-screen bg-gray-800" :class="{ 'overflow-hidden': isSideMenuOpen }">
        <!-- Desktop sidebar -->
        <%- include('partials/sidebar'); -%>

            <div class="flex flex-col flex-1 w-full overflow-y-auto">
                <%- include('partials/header'); -%>
                    <main class="">
                        <div class="grid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-white border-4 border-green-400">
                            <div class="grid grid-cols-12 gap-6">
                                <div class="grid grid-cols-12 col-span-12 gap-6 xxl:col-span-9">
                                    <div class="col-span-12 mt-8">
                                        <div class="flex items-center h-10 intro-y">
                                            <h2 class="mr-5 text-lg font-medium truncate">Input Data ISR</h2>
                                        </div>

                                    </div>

                                    <div class="col-span-12 mt-5">
                                        <!-- component -->
                                        <div class="bg-white p-8 rounded-md w-full">
                                            <div class=" flex items-center justify-between pb-6">
                                                <div>

                                                </div>
                                                <div class="flex items-center justify-between">
                                                    <div class="flex bg-gray-50 items-center p-2 rounded-md">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                                                            fill="currentColor">
                                                            <path fill-rule="evenodd"
                                                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                                                clip-rule="evenodd" />
                                                        </svg>
                                                        <input class="bg-gray-50 outline-none ml-1 block " type="text"
                                                            name="" id="" placeholder="search...">
                                                    </div>
                                                    <div class="lg:ml-40 ml-10 space-x-8">
                                                        <button
                                                            class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">New
                                                            Report</button>
                                                        <a href="/data">

                                                            <button
                                                                class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">Create</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                                                    <div
                                                        class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                                                        <table class="min-w-full leading-normal">
                                                            <thead>
                                                                <tr>

                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        No
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Tanggal_Pemeriksaan
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Metode_Pemeriksaan
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        No_Risalah_Hasil_Pemeriksaan
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Client_Id
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Client_Name
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        No_ISR
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Link_ID
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Stn_Name
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Stasiun_Lawan
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Long
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Lat
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Tx_Mhz
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Rx_Mhz
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        BW_Khz
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Merk
                                                                    </th>
                                                                    <th
                                                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                                        Kabupaten_Kota
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- <tr>
                                                                    <td
                                                                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                        <div class="flex items-center">
                                                                            <div class="flex-shrink-0 w-10 h-10">
                                                                                <img class="w-full h-full rounded-full"
                                                                                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"
                                                                                    alt="" />
                                                                            </div>
                                                                            <div class="ml-3">
                                                                                <p
                                                                                    class="text-gray-900 whitespace-no-wrap">
                                                                                    Vera Carpenter
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td
                                                                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                        <p class="text-gray-900 whitespace-no-wrap">
                                                                            Admin</p>
                                                                    </td>
                                                                    <td
                                                                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                        <p class="text-gray-900 whitespace-no-wrap">
                                                                            Jan 21, 2020
                                                                        </p>
                                                                    </td>
                                                                    <td
                                                                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                        <p class="text-gray-900 whitespace-no-wrap">
                                                                            43
                                                                        </p>
                                                                    </td>
                                                                    <td
                                                                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                        <span
                                                                            class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                                                            <span aria-hidden
                                                                                class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                                                            <span class="relative">Activo</span>
                                                                        </span>
                                                                    </td>
                                                                </tr> -->
                                                                <% data.forEach(function(item) { %>
                                                                    <tr>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.No %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Tanggal_Pemeriksaan %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Metode_Pemeriksaan %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.No_Risalah_Hasil_Pemeriksaan %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Client_Id %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Client_Name %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.No_ISR %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Link_ID %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Stn_Name %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Stasiun_Lawan %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Long %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Lat %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Tx_Mhz %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Rx_Mhz %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.BW_Khz %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Merk %>
                                                                            </p>

                                                                        </td>
                                                                        <td
                                                                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                                <%= item.Kabupaten_Kota %>
                                                                            </p>

                                                                        </td>
                                                                    </tr>
                                                                    <% }); %>


                                                            </tbody>
                                                        </table>

                                                        <div
                                                            class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
                                                            <span class="text-xs xs:text-sm text-gray-900">
                                                                Showing 1 to 4 of 50 Entries
                                                            </span>
                                                            <div class="inline-flex mt-2 xs:mt-0">
                                                                <button
                                                                    class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-l">
                                                                    Prev
                                                                </button>
                                                                &nbsp; &nbsp;
                                                                <button
                                                                    class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-r">
                                                                    Next
                                                                </button>
                                                            </div>
                                                            <% if (customers.length> 0) { %>
                                                                <nav class="flex justify-center mt-5"
                                                                    aria-label="Dashboard Pagination">
                                                                    <ul class="flex items-center space-x-2">

                                                                        <% if (current==1) { %>
                                                                            <li class="disabled">
                                                                                <a href="#"
                                                                                    class="px-3 py-1 rounded-md bg-gray-200 text-gray-500 cursor-not-allowed">First</a>
                                                                            </li>
                                                                            <% } else { %>
                                                                                <li>
                                                                                    <a href="/?page=1"
                                                                                        class="px-3 py-1 rounded-md bg-gray-200 text-gray-700 hover:bg-gray-300">First</a>
                                                                                </li>
                                                                                <% } %>

                                                                                    <% var i=(Number(current)> 5 ?
                                                                                        Number(current) - 4 : 1) %>
                                                                                        <% if(i !==1) { %>
                                                                                            <li>
                                                                                                <span
                                                                                                    class="px-3 py-1 rounded-md bg-gray-200 text-gray-700 cursor-not-allowed">...</span>
                                                                                            </li>
                                                                                            <% } %>

                                                                                                <% for(; i
                                                                                                    <=(Number(current) +
                                                                                                    4) && i <=pages; i++
                                                                                                    ) { %>
                                                                                                    <% if (i==current) {
                                                                                                        %>
                                                                                                        <li>
                                                                                                            <span
                                                                                                                class="px-3 py-1 rounded-md bg-blue-500 text-white">
                                                                                                                <%= i %>
                                                                                                            </span>
                                                                                                        </li>
                                                                                                        <% } else { %>
                                                                                                            <li>
                                                                                                                <a href="/?page=<%= i %>"
                                                                                                                    class="px-3 py-1 rounded-md bg-gray-200 text-gray-700 hover:bg-gray-300">
                                                                                                                    <%= i
                                                                                                                        %>
                                                                                                                </a>
                                                                                                            </li>
                                                                                                            <% } %>
                                                                                                                <% if
                                                                                                                    (i==Number(current)
                                                                                                                    + 4
                                                                                                                    && i
                                                                                                                    <
                                                                                                                    pages)
                                                                                                                    { %>
                                                                                                                    <li>
                                                                                                                        <span
                                                                                                                            class="px-3 py-1 rounded-md bg-gray-200 text-gray-700 cursor-not-allowed">...</span>
                                                                                                                    </li>
                                                                                                                    <% }
                                                                                                                        %>
                                                                                                                        <% }
                                                                                                                            %>

                                                                                                                            <% if
                                                                                                                                (current==pages)
                                                                                                                                {
                                                                                                                                %>
                                                                                                                                <li
                                                                                                                                    class="disabled">
                                                                                                                                    <a href="#"
                                                                                                                                        class="px-3 py-1 rounded-md bg-gray-200 text-gray-500 cursor-not-allowed">Last</a>
                                                                                                                                </li>
                                                                                                                                <% } else
                                                                                                                                    {
                                                                                                                                    %>
                                                                                                                                    <li>
                                                                                                                                        <a href="/?page=<%= pages %>"
                                                                                                                                            class="px-3 py-1 rounded-md bg-gray-200 text-gray-700 hover:bg-gray-300">Last</a>
                                                                                                                                    </li>
                                                                                                                                    <% }
                                                                                                                                        %>

                                                                    </ul>
                                                                </nav>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>



                    </main>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        function data() {
            return {
                isSideMenuOpen: false,
                toggleSideMenu() {
                    this.isSideMenuOpen = !this.isSideMenuOpen;
                },
                closeSideMenu() {
                    this.isSideMenuOpen = false;
                },
                isNotificationsMenuOpen: false,
                toggleNotificationsMenu() {
                    this.isNotificationsMenuOpen = !this.isNotificationsMenuOpen;
                },
                closeNotificationsMenu() {
                    this.isNotificationsMenuOpen = false;
                },
                isProfileMenuOpen: false,
                toggleProfileMenu() {
                    this.isProfileMenuOpen = !this.isProfileMenuOpen;
                },
                closeProfileMenu() {
                    this.isProfileMenuOpen = false;
                },
                isPagesMenuOpen: false,
                togglePagesMenu() {
                    this.isPagesMenuOpen = !this.isPagesMenuOpen;
                },
            };
        }
    </script>



</body>

</html>